
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem;
}

p {
  width: 100%;
}

.interpreter-output,
.interpreter-input {
  width: 100%;
}

.interpreter-output {
  height: 15rem;
  overflow-y: scroll;
  white-space: pre;
}
